<div class="clearfix">
  <div style="float: left;">
    <%= attachment_image_tag(@blog, :eyecatch_img, :fill, 220, 220, fallback: 'no_img.jpg', size: '220x220') %><br>
  </div>
  <div style="float: left; margin-left: 30px;">
    <% unless @blog.updated_at.nil? %>
      <h5><%= simple_time(@blog[:updated_at]) %></h5>
    <% else %>
      <h5>〇月〇日</h5>
    <% end %>
    <h3 class="himaji"><%= @blog.title %></h3><br>
      <%= render 'blogs/plant_info', blog: @blog %><br>
      <%= render 'blogs/weather_info', blog: @blog %><br>
    <span class="himaji">タグ：</span>
    <%= render 'tag_list', tag_list: @blog.tag_list %>
  </div>
</div>

<div class="clearfix" style="padding-top: 30px;">
  <%= raw @blog.content %>
</div>
