<%= form_with(model: blog, local: true) do |f| %>

  <div class="field clearfix">
  	<%= attachment_image_tag(blog, :eyecatch_img, fallback: 'no_img.jpg', size: '200x200', style: 'float: left;', id: 'blog_eyecatch_prev') %>
    <div style="float: left; padding-top: 50px; margin-left: 20px;">
      <%= f.label :アイキャッチ画像, class: 'field-content' %>
  	  <%= f.attachment_field :eyecatch_img, id: 'blog_eyecatch' %>
    </div>
  </div>

  <div class="field">
  	<%= f.label :タイトル, class: 'field-content' %>
  	<%= f.text_field :title, placeholder: '1～100文字', class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :花の種類, class: 'himaji field-content' %>
    <%= f.collection_select :plant_id, @user.plants, :id, :name %>
  </div>

  <div class="field">
    <%= f.label :水やり, class: 'field-content' %>
    <label><%= f.radio_button :water, true, checked: true %>あげた</label>
    <label><%= f.radio_button :water, false %>あげてない</label>
  </div>

  <div class="field">
    <%= f.label :天気, class: 'field-content' %>
    <label><%= f.radio_button :weather, 0, checked: true %>晴れ</label>
    <label><%= f.radio_button :weather, 1 %>曇り</label>
    <label><%= f.radio_button :weather, 2 %>雨</label>
    <label><%= f.radio_button :weather, 3 %>雪</label>
  </div>

  <div class="field">
    <%= f.label :気温, class: 'field-content' %>
    <%= f.text_field :temperature, placeholder: '℃', class: 'text-right form-control w-25' %>
  </div>

  <div class="field">
    <%= f.label :タグ, class: 'field-content' %><br>
    <%= f.text_field :tag_list, value: blog.tag_list.join(','), placeholder: '半角カンマ（,）で区切って複数登録できます', class: 'form-control' %>
  </div>

  <div class="field">
  	<%= f.label :本文, class: 'field-content' %>
	<%= f.text_area :content, id: "summernote", class: 'form-control', required: true, placeholder: '', 'data-provider': :summernote %>
  </div>

  <div class="action w-50 offset-9">
    <%= f.submit '下書き保存', name: 'draft_btn', class: 'btn-green w-25 submit' %>
    <%= f.submit '公開する！', name: 'blog_btn', class: 'btn-brown w-25 submit' %>
  </div>

<% end %>

<!-- include libraries(jQuery, bootstrap) -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script> -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- include summernote css/js -->
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/lang/summernote-ja-JP.js"></script>

<script>
  // summernote読み込み
	$(document).ready(function() {
		$('#summernote').summernote(
      {lang: "ja-JP",
      fontNames: ["YuGothic","Yu Gothic","Hiragino Kaku Gothic Pro","Meiryo","sans-serif", "Arial","Arial Black","Comic Sans MS","Courier New","Helvetica Neue","Helvetica","Impact","Lucida Grande","Tahoma","Times New Roman","Verdana"]}
      );
	})

  // アイキャッチ写真プレビュー表示
  $(function() {
    function readURL(input) {
        if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
    $('#blog_eyecatch_prev').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
        }
    }
    $("#blog_eyecatch").change(function(){
        readURL(this);
    });
  });
</script>
