<%= form_with(model: blog, local: true) do |f| %>

  <div>
  	<%= f.label :アイキャッチ画像 %><br>
  	<%= attachment_image_tag(blog, :eyecatch_img, :fill, 200, 200, fallback: 'no_img.jpg', size: '200x200') %>
  	<%= f.attachment_field :eyecatch_img %>
  </div>

  <div class="field">
  	<%= f.label :タイトル %>
  	<%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :花 %>
    <%= f.collection_select :plant, @user.plants, :id, :name %>
  </div>

  <div>
    <%= f.label :水やり %>
    <label><%= f.radio_button :water, true, checked: true %>あげた</label>
    <label><%= f.radio_button :water, false %>あげてない</label>
  </div>

  <div>
    <%= f.label :天気 %>
    <label><%= f.radio_button :weather, 0, checked: true %>晴れ</label>
    <label><%= f.radio_button :weather, 1 %>曇り</label>
    <label><%= f.radio_button :weather, 2 %>雨</label>
    <label><%= f.radio_button :weather, 3 %>雪</label>
  </div>

  <div>
    <%= f.label :気温 %>
    <%= f.text_field :temperature, class: 'form-control w-25' %>℃
  </div>

  <div class="field">
    <%= f.label :タグ（カンマ区切り） %><br>
    <%= f.text_field :tag_list, value: blog.tag_list.join(','), class: 'form-control' %>
  </div>

  <div class="field">
  	<%= f.label :本文 %>
	<%= f.text_area :content, id: "summernote", class: 'form-control', required: true, placeholder: '', 'data-provider': :summernote %>
  </div>

  <div class="field">
    <% if @blog.id.nil? %>
  	  <%= f.submit 'プレビュー', name: 'preview_btn', class: 'btn-sm btn-info' %>
    <% end %>
    <%= f.submit '下書き保存', name: 'draft_btn', class: 'btn-sm btn-primary' %>
    <%= f.submit 'ブログを公開', name: 'blog_btn', class: 'btn-sm btn-success' %>
  </div>

<% end %>

<!-- include libraries(jQuery, bootstrap) -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- include summernote css/js -->
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote.min.js"></script>

<script>
	$(document).ready(function() {
		$('#summernote').summernote();
	})
</script>