<%= render partial: 'layouts/header' %>
<div class="container">
  <div class="row">
  	<%= render partial: 'layouts/sidebar', user: @user %>
  	<div class="col col-10">
  	  <%= render partial: 'layouts/flash' %>
  	  <% if params[:tag_name] %>
  	    <h2>タグ「<%= @tag %>」の記事 全<%= @blogs.count %>件</h2>
      <% elsif params[:page] == 'TL' %>
        <h2><%= @user.name %>さんのタイムライン</h2>
      <% elsif params[:page] == 'user_blogs' %>
        <h2><%= @user.name %>さんのブログ 全<%= @blogs.count %>件</h2>
      <% elsif params[:page] == 'drafts' %>
        <h2>下書き一覧</h2>
  	  <% else %>
  	    <h2>ブログ一覧 全 <%= @blogs.count %> 件</h2>
  	  <% end %>
      <%= render 'blogs_index', blogs: @blogs %>
  	</div>
  </div>
</div>
