<%= render partial: 'layouts/header' %>
<div class="container">
  <div class="row">
  	<%= render partial: 'layouts/sidebar', user: @user %>
  	<div class="col col-10">
      <%= render partial: 'layouts/flash' %>
      <div>

        <%= render 'blogs/article', blog: @blog %>

        <% if @blog.status == true %>
          <div id="stamps-<%= @blog.id %>" class="stamps clearfix">
            <%= render 'stamps/stamp', stamp: @stamp %>
          </div>

          <div id="comments_for_blog-<%= @blog.id %>">
            <%= render 'blog_comments/bc_index', blog_comments: @blog_comments %>
          </div>

          <div>
            <%= form_with(model: @blog_comment, url: blog_blog_comments_path(@blog), remote: true) do |f| %>
              <h6>新規コメント</h6><br>
              <%= attachment_image_tag(current_user, :profile_img, :fill, 50, 50, fallback: 'no_img.jpg', size: '50x50') %>
              <%= current_user.name %>
              <%= f.attachment_field :image %>
              <%= f.text_area :comment, size: '90x5' %>
              <%= f.submit '送信！', class: 'btn-sm btn-info' %>
            <% end %>
          </div>
        <% end %>
  	  </div>
    </div>
  </div>
</div>