<%= render partial: 'layouts/header' %>
<div class="container-fluid">
  <div class="row">
  	<%= render partial: 'layouts/sidebar', user: @user %>
  	<div class="col col-10">
      <%= render partial: 'layouts/flash' %>
      <div>

        <%= render 'blogs/article', blog: @blog %>

        <% if @blog.status == true %>
          <div id="stamps-<%= @blog.id %>" class="stamps clearfix" style="padding-top: 30px;">
            <%= render 'stamps/stamp', stamp: @stamp %>
          </div>

          <div id="comments_for_blog-<%= @blog.id %>" class="himaji" style="padding-top: 30px;">
            <h4>コメント</h4>
            <%= render 'blog_comments/bc_index', blog_comments: @blog_comments %>
          </div>

          <div style="padding-top: 30px;">
            <%= form_with(model: @blog_comment, url: blog_blog_comments_path(@blog), remote: true) do |f| %>
              <h4>新規コメント</h4>
              <div class="clearfix">
                <%= attachment_image_tag(current_user, :profile_img, fallback: 'no_img.jpg', size: '50x50', style: 'float: left;') %>
                <p style="float: left; margin-left: 20px; padding-top: 20px;"><%= current_user.name %></p>
                <div style="float: left; margin-left: 20px; padding-top: 15px;">
                  <%= f.attachment_field :image %>
                </div>
              </div>
              <%= f.text_area :comment, class: 'form-control', size: '90x5' %>
              <%= f.submit '送信！', class: 'btn-sm btn-crud-green w-25 offset-9', style: 'margin-top: 10px;' %>
            <% end %>
          </div>
        <% end %>
  	  </div>
    </div>
  </div>
</div>