<%= render partial: 'layouts/header' %>
<div class="container-fluid container-main">
  <div class="row">
  	<%= render partial: 'layouts/sidebar', user: current_user %>
  	<div class="col col-md-10">
  	  <%= render partial: 'layouts/flash' %>

      <div>
        <div>
          <% if @model == 'user' %>
            <h3>「<%= @word %>」での会員検索結果です！</h3>
            <%= render 'users/index', users: @datas %>
          <% elsif @model == 'blog' %>
            <h3>「<%= @word %>」での日記検索結果です！</h3>
            <%= render 'blogs/blogs_index', blogs: @datas %>
          <% else @model == 'topic' %>
            <h3>「<%= @word %>」でのトピック検索結果です！</h3>
            <%= render 'topics/topics_index', topics: @datas %>
          <% end %>
        </div>
    </div>
  </div>
</div>
