<%= form_with(model: @topic, local: true) do |f| %>
  <div class="field clearfix">
 	  <%= attachment_image_tag(@topic, :eyecatch_img, :fill, 200, 200, fallback: 'no_img.jpg', size: '200x200', style: 'float: left;', id: 'topic_eyecatch_prev') %>
 	  <div style="float: left; padding-top: 50px; margin-left: 20px;">
      <%= f.label :アイキャッチ画像, class: 'field-content' %><br>
      <%= f.attachment_field :eyecatch_img, id: 'topic_eyecatch' %>
    </div>
  </div>
  <div class="field">
    <%= f.label :タイトル, class: 'field-content' %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="field">
 	<%= f.label :カテゴリ, class: 'field-content' %>
 	<div>
 	  <label><%= f.radio_button :category, 0 %>育て方全般</label>
 	  <label><%= f.radio_button :category, 1 %>せん定</label>
 	  <label><%= f.radio_button :category, 2 %>土作り</label><br>
 	  <label><%= f.radio_button :category, 3 %>肥料</label>
 	  <label><%= f.radio_button :category, 4 %>病害虫</label>
 	  <label><%= f.radio_button :category, 5 %>その他</label>
 	</div>
  </div>
  <% if @topic.id.nil? %>
    <div class="field">
      <%= f.fields_for @topic_comment do |tc| %>
        <%= tc.attachment_field :image %>
        <%= tc.text_field :comment, class: 'form-control' %>
      <% end %>
    </div>
  <% end %>
  <div class="field">
    <%= f.submit 'トピを立てる！', class: 'w-25 offset-9 btn-block btn-crud-green' %>
  </div>
<% end %>

<!-- アイキャッチ写真プレビュー表示 -->
<script type="text/javascript">
  $(function() {
    function readURL(input) {
        if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
    $('#topic_eyecatch_prev').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
        }
    }
    $("#topic_eyecatch").change(function(){
        readURL(this);
    });
  });
</script>