<table>
　<thead>
    <tr>
	  <th></th>
	  <th>更新日時</th>
	  <th>タイトル</th>
	</tr>
  </thead>
  <tbody>
	<% topics.each do |topic| %>
      <tr>
		<td><%= attachment_image_tag(topic, :eyecatch_img, :fill, 50, 50, fallback: 'no_img.jpg', size: '50x50') %></td>
		<td><%= topic.updated_at %></td>
		<td><%= topic.title %></td>
		<td><%= link_to '見る', topic_path(topic), class: 'btn-sm btn-info' %></td>
		<% if topic.user_id == current_user.id %>
	      <td><%= link_to 'タイトルを編集', edit_topic_path(topic), class: 'btn-sm btn-success' %></td>
		  <td><%= link_to 'トピを削除', topic_path(topic), method: :destroy, class: 'btn-sm btn-danger' %></td>
		<% end %>
	  </tr>
	<% end %>
  </tbody>
</table>