<%= render partial: 'layouts/header' %>
<div class="container-fluid">
  <div class="row">
    <% if user_signed_in? %>
  	<%= render partial: 'layouts/sidebar', user: @user %>
    <% end %>

  	<div class="col col-10">
    	<%= render partial: 'layouts/flash' %>

    	<% if @page == 'all_topics' %>
    	  <h2>トピック 全<%= @topics.count %>件</h2>
    	<% elsif @page == 'user_topics' %>
  	    <h2><%= @user.name %>さんのトピック 全<%= @topics.count %>件</h2>
      <% else @page == 'category' %>
        <h2>カテゴリ「<%= render 'topics/category', category: @category %>」のトピック</h2>
  	  <% end %>

      <div>
  	  <%= render 'topics_index', topics: @topics %>
      <%= paginate @topics, class: 'paginate' %>
      </div>
    </div>

  </div>
</div>
