<%= render partial: 'layouts/header' %>
<div class="container">
  <div class="row">
  	<%= render partial: 'layouts/sidebar', user: @user %>
  	<div class="col col-xs-10">
  	<%= render partial: 'layouts/flash' %>
  	<h2>トピック 全<%= @topics.count %>件</h2>
  	<%= render 'topics_index', topics: @topics %>
    </div>
  </div>
</div>
