<div class="col col-lg-10 space">

  <%= render partial: 'layouts/flash' %>

<!-- トピック情報 -->
  <div class="row space">
    <div class="col-sm-4">
      <div class="row">
      <%= attachment_image_tag(@topic, :eyecatch_img, fallback: 'no_img.jpg', size: '200x200') %>
    </div>
    <div class="row">
      <% if user_signed_in? && @topic.user_id == current_user.id %>
    <%= link_to '編集', edit_topic_path(@topic.id), class: 'btn-crud-green' %>
    <%= link_to '削除', topic_path(@topic.id), data: {confirm: 'トピックを削除しますか？'},  method: :delete, class: 'btn-crud-red', id: 'delete_topic' %>
    <% end %>
  </div>
    </div>
    <div class="col-sm-8">
    <h3><%= @topic.title %></h3>
    <h5>カテゴリ：<%= topic_category(@topic.category) %>、<%= simple_time(@topic[:updated_at]) %></h5>
    </div>
  </div>

<!-- コメント欄 -->
  <div class="row space">
    <div id="comments_for_topic-<%= @topic.id %>" class="col" style="padding-top: 30px;">
      <%= render 'topic_comments/tc_index', topic_comments: @topic_comments %>
    </div>
  </div>

<!-- 新規コメント -->
<div class="container-fluid space">
      <%= form_with(model: @topic_comment, url: topic_topic_comments_path(@topic), remote: true) do |f| %>
      <%= f.label :comment, '新規コメント', for: 'topic_comment_text', style: 'font-size: 32px;' %>
      <div class="row">
        <div class="col-md-2">
          <%= attachment_image_tag(current_user, :profile_img, fallback: 'no_img.jpg', size: '50x50') %>
        </div>
        <div class="col-md-5">
          <p><%= current_user.name %></p>
        </div>
        <div class="col-md-5">
          <%= f.attachment_field :image %>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <%= f.text_area :comment, class: 'form-control', placeholder: '最大500文字', size: '90x5', id: 'topic_comment_text' %>
          <%= f.submit '送信！', class: 'btn-sm btn-crud-green w-25 offset-9', style: 'margin-top: 10px;' %>
        </div>
      </div>
      <% end %>
    </div>

</div>