<%= render partial: 'layouts/header' %>
<div class="container">
  <div class="row">
  	<%= render partial: 'layouts/sidebar', user: @user %>
  	<div class="col col-xs-10">

  	<%= render partial: 'layouts/flash' %>

  	<div>
      <%= attachment_image_tag(@topic, :eyecatch_img, :fill, 200, 200, fallback: 'no_img.jpg', size: '200x200') %>
      <% if @topic.user.id == current_user.id %>
      <%= link_to 'タイトルを変更', edit_topic_path(@topic.id), class: 'btn-sm btn-success' %>
      <% end %>
      <h3><%= @topic.title %></h3>
      <%= render 'topic_comments/tc_index', topic_comments: @topic_comments %>
  	</div>

    </div>
  </div>
</div>
