<% unless @user.stamps.where(stamp_img: 1).exists? %>
  <%= link_to blog_stamps_path(blog_id: @blog.id, stamp_img: 1), method: :post do %>
  <span><i class="far fa-thumbs-up fa-3x"></i></span>
  <% end %>
<% else %>
  <%= link_to blog_stamps_path(blog_id: @blog.id, stamp_img: 1), method: :delete do %>
  <span><i class="fas fa-thumbs-up fa-3x"></i></span>
  <% end %>
<% end %>

<% unless @user.stamps.where(stamp_img: 2).exists? %>
  <%= link_to blog_stamps_path(blog_id: @blog.id, stamp_img: 2), method: :post do %>
  <span><i class="far fa-lightbulb fa-3x"></i></span>
  <% end %>
<% else %>
  <%= link_to blog_stamps_path(blog_id: @blog.id, stamp_img: 2), method: :delete do %>
  <span><i class="fas fa-lightbulb fa-3x"></i></span>
  <% end %>
<% end %>

<% unless @user.stamps.where(stamp_img: 3).exists? %>
  <%= link_to blog_stamps_path(blog_id: @blog.id, stamp_img: 3), method: :post do %>
  <span><i class="far fa-grin-squint-tears fa-3x"></i></span>
  <% end %>
<% else %>
  <%= link_to blog_stamps_path(blog_id: @blog.id, stamp_img: 3), method: :delete do %>
  <span><i class="fas fa-grin-squint-tears fa-3x"></i></span>
  <% end %>
<% end %>

<% unless @user.stamps.where(stamp_img: 4).exists? %>
  <%= link_to blog_stamps_path(blog_id: @blog.id, stamp_img: 4), method: :post do %>
  <span><i class="far fa-star fa-3x"></i></span>
  <% end %>
<% else %>
  <%= link_to blog_stamps_path(blog_id: @blog.id, stamp_img: 4), method: :delete do %>
  <span><i class="fas fa-sta fa-3xr"></i></span>
  <% end %>
<% end %>

<% unless @user.stamps.where(stamp_img: 5).exists? %>
  <%= link_to blog_stamps_path(blog_id: @blog.id, stamp_img: 5), method: :post do %>
  <span><i class="far fa-smile fa-3x"></i></span>
  <% end %>
<% else %>
  <%= link_to blog_stamps_path(blog_id: @blog.id, stamp_img: 5), method: :delete do %>
  <span><i class="fas fa-smile fa-3x"></i></span>
  <% end %>
<% end %>

