<div class="col col-lg-10 space">
  <%= render partial: 'layouts/flash' %>
  <h3>会員情報編集</h3>
  <%= form_with(model: @user, local: true) do |f| %>
  <div class="user_field">
    <%= f.label :お名前, placeholder: '1～20文字', class: 'field-content', for: 'user_name' %>
    <%= f.text_field :name, class: 'form-control', id: 'user_name' %>
  </div>

  <div class="user_field">
    <%= f.label :ひとこと, class: 'field-content', for: 'user_introduction' %>
    <%= f.text_field :introduction, placeholder: '最大50文字', class: 'form-control', id: 'user_introduction' %>
  </div>

  <div class="user_field">
    <%= f.label :アイコン画像, class: 'field-content' %><br>
    <%= attachment_image_tag(@user, :profile_img, fallback: 'no_img.jpg', size: '100x100', id: 'profile_prev') %>
    <%= f.attachment_field :profile_img, id: 'profile' %>
  </div>

  <div class="user_field">
    <%= f.submit '更新する！', class: 'btn btn-green btn-block w-25 offset-9' %>
    <%= link_to '退会する', user_path, method: :delete, data: {confirm: '本当に退会しますか？'}, class: 'btn btn-crud-red btn-block w-25 offset-9', style: 'margin-top: 10px;' %>
  </div>
  <% end %>
</div>


<!-- プロフィール写真のプレビュー表示 -->
<script type="text/javascript">
  $(function() {
    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
          $('#profile_prev').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
      }
    }
    $("#profile").change(function(){
      readURL(this);
    });
  });
</script>