<%= render partial: 'layouts/header' %>
<div class="container">
  <div class="row">
  	<%= render partial: 'layouts/sidebar', user: @user %>
  	<div class="col col-10">
      <% if @who == 'all_users' %>
        <h2>全ユーザ一覧（<%= @users.count %>名）</h2>
      <% elsif @who == 'followings' %>
      　<h2><%= @user.name %>さんのフォロー一覧（<%= @users.count %>名）</h2>
      <% else @who == 'followers' %>
        <h2><%= @user.name %>さんのフォロワー一覧（<%= @users.count %>名）</h2>
      <% end %>
      <%= render 'users/index', users: @users %>
  	</div>
  </div>
</div>