<%= render partial: 'layouts/header' %>
<div class="container-fluid container-main">
  <div class="row">
  	<%= render partial: 'layouts/sidebar', user: @user %>
  	<div class="col col-md-10 himaji">
      <% if @who == 'all_users' %>
        <h2>全ユーザ一覧（<%= @users.count %>名）</h2>
      <% elsif @who == 'followings' %>
      　<h2><%= @user.name %>さんのフォロー一覧（<%= @users.count %>名）</h2>
      <% else @who == 'followers' %>
        <h2><%= @user.name %>さんのフォロワー一覧（<%= @users.count %>名）</h2>
      <% end %>

      <%= render 'users/index', users: @users %>

      <div class="offset-3 kaminari">
        <%= paginate @users, class: 'paginate' %>
      </div>

  	</div>
  </div>
</div>