<%= render partial: 'layouts/header' %>
<div class="container">
  <div class="row">
  	<%= render partial: 'layouts/sidebar', user: @user %>
  	<div class="col col-xs-10">
  	  <%= render partial: 'layouts/flash' %>

      <div class="user_show_box">
  	  <h2><%= @user.name %>さん のブログ 全<%= @user.blogs.count %> 件</h2>
        <%= render 'blogs/blogs_index', blogs: @blogs %>
        <%= link_to 'もっと見る→', blogs_path, name: 'users_blog', class: 'btn-sm btn-info' %>
      </div>

      <div class="user_show_box">
        <h2><%= @user.name %>さんが立てたTopics 全<%= @user.topics.count %>件</h2>
      </div>

  	</div>
  </div>
</div>
