<%= render partial: 'layouts/header' %>
<div class="container-fluid container-main">
  <div class="row">
  	<%= render partial: 'layouts/sidebar', user: @user %>
  	<div class="col col-md-10">
  	  <%= render partial: 'layouts/flash' %>

      <div>
        <h3><%= @user.name %>さんが育てている花</h3>
          <div id="plant-<%= @user.id %>">
          <%= render 'plants/index', user: @user %>
          </div>
      </div>

      <% if @user.id == current_user.id %>
      <div id="edit-plant-<%= @user.id %>" style='padding-top: 100px;'>
        <h3>新しく登録</h3>
        <%= render 'plants/form', plant: @plant %>
      </div>
      <% end %>

    </div>
  </div>
</div>

