<%= render partial: 'layouts/header' %>
<div class="container">
  <div class="row">
  	<%= render partial: 'layouts/sidebar', user: @user %>
  	<div class="col col-xs-10">
  	  <%= render partial: 'layouts/flash' %>

      <div>
        <%= render 'plants/form', plant: @plant %>
      </div>

      <div>
        <p><%= @user.name %>さんが育てている植物</p>
        <% @user.plants.each do |plant| %>
          <span>
            <h4><%= plant.name %></h4>
            <%= plant.memo %>
          </span>
        <% end %>
      </div>

