<%= form_with(model: @plant, remote: true) do |f| %>

  <div>
  	<%= f.label :花の名前, class: 'field-content' %>
  	<%= f.text_field :name, class: 'form-comtrol w-75' %>
  </div>

  <div>
  	<%= f.label :種別　　, class: 'field-content' %>
  	<%= f.select :kind, [['一年草', 0], ['多年草', 1], ['低木', 2], ['高木', 3]], value: @plant.kind %>
  </div>

  <div>
  	<%= f.label :メモ　　, class: 'field-content' %>
  	<%= f.text_area :memo, size: '90x5', class: 'form-comtrol w-75' %>
  </div>

  <div>
  	<%= f.submit '登録！', class: 'btn-sm btn-green btn-block w-25 offset-7' %>
  </div>

<% end %>