<%= form_with(@plant, local: true) do |f| %>

  <div>
  	<%= f.label :花の名前 %>
  	<%= f.text_field :name %>
  </div>

  <div>
  	<%= f.label :種別 %>
  	<%= f.collention_select :type, [['一年草', 0], ['多年草', 1], ['低木', 2], ['高木', 3]], value: @plant.type %>
  </div>

  <div>
  	<%= f.label :メモ %>
  	<%= f.text_area :memo, size: '90x5' %>
  </div>

  <div>
  	<%= f.submit '登録！', class: 'btn-sm btn-success' %>
  </div>

<% end %>