<%= form_with(model: @plant, remote: true) do |f| %>

  <div class="field">
  	<%= f.label :花の名前, class: 'field-content', for: 'plant_name' %>
  	<%= f.text_field :name, placeholder: '1～20文字', class: 'form-control w-75', id: 'plant_name' %>
  </div>

  <div class="field">
  	<%= f.label :種別　　, class: 'field-content', for: 'plant_kind' %>
  	<%= f.select :kind, [['一年草', 0], ['多年草', 1], ['低木', 2], ['高木', 3]], value: @plant.kind, id: 'plant_kind' %>
  </div>

  <div class="field">
  	<%= f.label :メモ　　, class: 'field-content', for: 'plant_memo' %>
  	<%= f.text_area :memo, size: '90x5', placeholder: '最大200文字', class: 'form-control w-75', id: 'plant_memo' %>
  </div>

  <div class="action">
  	<%= f.submit '登録！', class: 'btn-sm btn-green btn-block w-25 offset-7' %>
  </div>

<% end %>