<% @user.plants.each do |plant| %>
  <span>
    <h4 style="padding-top: 30px;">
      <%= link_to plant_path(plant), style: 'color: #664539;' do %>
      <%= plant.name %><%= render 'plants/info', plant: @plant %>
      <% end %>
     </h4>
    <%= plant.memo %>
    <% if @user.id == current_user.id %>
      <%= link_to '編集', edit_plant_path(plant), remote: true, class: 'btn-sm btn-success' %>
      <%= link_to '削除', plant_path(plant), method: :delete, class: 'btn-sm btn-danger' %>
    <% end %>
  </span>
<% end %>