<%= render partial: 'layouts/header' %>
<div class="container-fluid container-main">
  <div class="row">
  	<%= render partial: 'layouts/sidebar', user: @user %>
  	<div class="col col-md-10 col-body">
  	  <%= render partial: 'layouts/flash' %>

      <div>
        <h2>
          <%= @plant.name %>
          <% if @plant.blogs.average(:score) >= 0.6 %>
            <i class="far fa-laugh-beam"></i>
          <% elsif @plant.blogs.average(:score) >= -0.6 %>
            <i class="far fa-smile"></i>
          <% elsif @plant.blogs.average(:score) <= -0.6 %>
            <i class="far fa-frown"></i>
          <% end %>
        </h2>
        <p>種別：<%=render 'plants/info', plant: @plant %></p>
        <p>メモ：<%= @plant.memo %></p>
      </div>

      <div style="padding-top: 50px;">
        <h3><%= @plant.name %> についての日記 <%= @plant.blogs.count %>件</h3>
          <div>
          <%= render 'blogs/blogs_index', blogs: @blogs %>
          </div>
      </div>

    </div>
  </div>
</div>

