<%= render partial: 'layouts/header' %>
<div class="container-fluid">
  <div class="row">
  	<%= render partial: 'layouts/sidebar', user: @user %>
  	<div class="col col-10">
  	  <%= render partial: 'layouts/flash' %>

      <div>
        <h2><%= @plant.name %></h2>
        <p>種別：<%=render 'plants/info', plant: @plant %></p>
        <p>メモ：<%= @plant.memo %></p>
      </div>

      <div style="padding-top: 50px;">
        <h3><%= @plant.name %> についての日記 <%= @plant.blogs.count %>件</h3>
          <div>
          <%= render 'blogs/blogs_index', blogs: @blogs %>
          </div>
      </div>

    </div>
  </div>
</div>

