<%= render partial: 'layouts/header' %>
<div class="container-fluid container-main">
  <div class="row">

  	<% if user_signed_in? %>
  	<%= render partial: 'layouts/sidebar', user: @user %>
  	<% end %>

  	<div class="col col-md-10 col-body">
  	  <%= render partial: 'layouts/flash' %>
  	  <div class="row-content" style="text-align: center;">
  	    <h2>スタンプ数ランキング</h2>
  	    <p>ここでは、読者からの反応が多かった日記を、スタンプの種類ごとに集計しています。<br>
  	    スタンプは全5種類。面白い文章からお役立ち記事まで、みんなが注目している日記をチェックしてみましょう！</p>
  	  </div>

  	  <!-- いいねランキング -->
  	  <div class="row-content">
  	  	<h3>いいね</h3>
  	  	<table class="himaji">
          <thead>
	        <tr>
              <th></th>
              <th>花の名前</th>
              <th>タイトル</th>
              <th>名前</th>
              <th>いいね</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>
            <% @good.each.with_index(1) do |blog, i| %>
  	        <tr>
  	          <td>第<%= i %>位</td>
   		      <td>
                <%= link_to blog_path(blog) do %>
                <%= attachment_image_tag(blog, :eyecatch_img, fallback: 'no_img.jpg', size: '50x50') %>
                <% end %>
              </td>
   		      <td>
                <%= link_to blog.plant.name, plant_path(blog.plant_id), class: 'letter' %>
              </td>
   		      <td style="width: 35%;">
                <%= link_to blog_path(blog), class: 'letter' do %>
                <%= blog.title %>
                <% end %>
              </td>
              <td style="width: 15%;">
                <%= link_to blog.user.name, user_path(blog.user_id), class: 'letter' %>
              </td>
              <td class="stamp_count" style="text-align: center;"><%= blog.stamps.where(stamp_img: 1).count %></td>
 	  	    </tr>
            <% end %>
 	      </tbody>
        </table>
  	  </div>

  	  <!-- なるほどランキング -->
  	  <div class="row-content">
  	  	<h3>なるほど</h3>
  	  	<table class="himaji">
          <thead>
	        <tr>
              <th></th>
              <th>花の名前</th>
              <th>タイトル</th>
              <th>名前</th>
              <th>なるほど</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>
            <% @good.each do |blog| %>
  	        <tr>
   		      <td>
                <%= link_to blog_path(blog) do %>
                <%= attachment_image_tag(blog, :eyecatch_img, fallback: 'no_img.jpg', size: '50x50') %>
                <% end %>
              </td>
   		      <td>
                <%= link_to blog.plant.name, plant_path(blog.plant_id), class: 'letter' %>
              </td>
   		      <td style="width: 35%;">
                <%= link_to blog_path(blog), class: 'letter' do %>
                <%= blog.title %>
                <% end %>
              </td>
              <td style="width: 15%;">
                <%= link_to blog.user.name, user_path(blog.user_id), class: 'letter' %>
              </td>
              <td class="stamp_count" style="text-align: center;"><%= blog.stamps.count %></td>
 	  	    </tr>
            <% end %>
 	      </tbody>
        </table>
  	  </div>

  	  <!-- おもしろいランキング -->
  	  <div class="row-content">
  	  	<h3>おもしろい</h3>
  	  	<table class="himaji">
          <thead>
	        <tr>
              <th></th>
              <th>花の名前</th>
              <th>タイトル</th>
              <th>名前</th>
              <th>おもしろい</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>
            <% @good.each do |blog| %>
  	        <tr>
   		      <td>
                <%= link_to blog_path(blog) do %>
                <%= attachment_image_tag(blog, :eyecatch_img, fallback: 'no_img.jpg', size: '50x50') %>
                <% end %>
              </td>
   		      <td>
                <%= link_to blog.plant.name, plant_path(blog.plant_id), class: 'letter' %>
              </td>
   		      <td style="width: 35%;">
                <%= link_to blog_path(blog), class: 'letter' do %>
                <%= blog.title %>
                <% end %>
              </td>
              <td style="width: 15%;">
                <%= link_to blog.user.name, user_path(blog.user_id), class: 'letter' %>
              </td>
              <td class="stamp_count" style="text-align: center;"><%= blog.stamps.count %></td>
 　　  	    </tr>
            <% end %>
 	      </tbody>
        </table>
  	  </div>

  	  <!-- スターランキング -->
  	  <div class="row-content">
  	  	<h3>スター</h3>
  	  	<table class="himaji">
          <thead>
	        <tr>
              <th></th>
              <th>花の名前</th>
              <th>タイトル</th>
              <th>名前</th>
              <th>スター</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>
            <% @good.each do |blog| %>
  	        <tr>
   		      <td>
                <%= link_to blog_path(blog) do %>
                <%= attachment_image_tag(blog, :eyecatch_img, fallback: 'no_img.jpg', size: '50x50') %>
                <% end %>
              </td>
   		      <td>
                <%= link_to blog.plant.name, plant_path(blog.plant_id), class: 'letter' %>
              </td>
   		      <td style="width: 35%;">
                <%= link_to blog_path(blog), class: 'letter' do %>
                <%= blog.title %>
                <% end %>
              </td>
              <td style="width: 15%;">
                <%= link_to blog.user.name, user_path(blog.user_id), class: 'letter' %>
              </td>
              <td class="stamp_count" style="text-align: center;"><%= blog.stamps.count %></td>
 	  	    </tr>
            <% end %>
 	      </tbody>
        </table>
  	  </div>

  	  <!-- ありがとうランキング -->
  	  <div class="row-content">
  	  	<h3>ありがとう</h3>
  	  	<table class="himaji">
          <thead>
	        <tr>
              <th></th>
              <th>花の名前</th>
              <th>タイトル</th>
              <th>名前</th>
              <th>ありがとう</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>
            <% @good.each do |blog| %>
  	        <tr>
   		      <td>
                <%= link_to blog_path(blog) do %>
                <%= attachment_image_tag(blog, :eyecatch_img, fallback: 'no_img.jpg', size: '50x50') %>
                <% end %>
              </td>
   		      <td>
                <%= link_to blog.plant.name, plant_path(blog.plant_id), class: 'letter' %>
              </td>
   		      <td style="width: 35%;">
                <%= link_to blog_path(blog), class: 'letter' do %>
                <%= blog.title %>
                <% end %>
              </td>
              <td style="width: 15%;">
                <%= link_to blog.user.name, user_path(blog.user_id), class: 'letter' %>
              </td>
              <td class="stamp_count" style="text-align: center;"><%= blog.stamps.count %></td>
　　　　　   </tr>
            <% end %>
 	      </tbody>
        </table>
  	  </div>
  	</div>

  </div>
</div>