<%= render partial: 'devise/shared/login_header' %>
<div class="container-fluid" style="padding-top: 30px;">
  <div class="row">
    <div class="col col-4 offset-4">
      <h2 class="himaji">ログイン</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="field">
        <%= f.label :メールアドレス %><br>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: '最大50文字', class: 'form-control w-100' %>
      </div>

      <div class="field">
        <%= f.label :パスワード %><br />
        <%= f.password_field :password, autocomplete: "current-password", placeholder: '6文字以上', class: 'form-control w-100 sans' %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="action">
       <%= f.submit "ログイン", class: 'btn btn-block btn-green himaji' %>
      </div>
      <% end %>

      <div style="text-align: right; margin: 20px 0;">
      <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>