<%= form_with(model: draft, local: true) do |f| %>

  <div>
  	<%= f.label :アイキャッチ画像 %><br>
  	<%= attachment_image_tag(draft, :eyecatch_img, :fill, 200, 200, fallback: 'no_img.jpg', size: '200x200') %>
  	<%= f.attachment_field :eyecatch_img %>
  </div>

  <div class="draft_field">
  	<%= f.label :タイトル %>
  	<%= f.text_field :title %>
  </div>

  <div class="draft_field">
  	<%= f.label :タグ（カンマ区切り） %><br>
  	<%= f.text_field :tag_list, value: draft.tag_list.join(','), class: 'form-control' %>
  </div>

  <div class="draft_field">
  	<%= f.label :本文 %>
	<%= f.text_area :content, id: "summernote", class: 'form-control', required: true, placeholder: '', 'data-provider': :summernote %>
  </div>

  <div class="draft_field">
    <% if draft.id == nil %>
  	<%= f.submit 'プレビュー', name: 'preview_btn', class: 'btn-sm btn-info' %>
    <%= f.submit '下書き保存', name: 'draft_btn', class: 'btn-sm btn-primary' %>
    <%= f.submit 'ブログを公開', name: 'blog_btn', class: 'btn-sm btn-success' %>
    <% else %>
    <%= f.submit '下書き保存', name: 'draft_btn', class: 'btn-sm btn-primary' %>
    <%= f.submit 'ブログを公開', name: 'blog_btn', class: 'btn-sm btn-success' %>
    <% end %>
  </div>

<% end %>

<!-- include libraries(jQuery, bootstrap) -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- include summernote css/js -->
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote.min.js"></script>

<script>
	$(document).ready(function() {
		$('#summernote').summernote();
	})
</script>
