<%= render partial: 'layouts/header' %>
<div class="container">
  <div class="row">
  	<%= render partial: 'layouts/sidebar', user: @user %>

  	<div class="col col-xs-10">
  	  <h4>この画面はプレビューです。保存はされていないのでご注意ください。</h4>

      <%= form_with(model: @draft, url: {action: 'create'}, local: true) do |f| %>

      <div class="preview_eyecatch">
        <%= attachment_image_tag(@draft, :eyecatch_img, :fill, 200, 200, fallback: 'no_img.jpg', size: '200x200') %>
      </div>

  	  <div class="preview_title">
  	    <%= @draft.title %>
  	  </div>

  	  <div class="preview_tag">
  	  	<h5>タグ：</h5>
  	    <%= @draft.tag_list %>
  	  </div>

  	  <div class="preview_content">
  	    <%= raw @draft.content %>
  	  </div>

      <%= f.hidden_field :eyecatch_img, :value => "#{@draft.eyecatch_img}" %>
      <%= f.hidden_field :title, :value => "#{@draft.title}" %>
      <%= f.hidden_field :tag_list, :value => "#{@draft.tag_list}" %>
      <%= f.hidden_field :content, :value => "#{@draft.content}" %>

  	  <div class="preview_submits">
  	  	<%= f.submit '下書き保存', name: 'draft_btn', class: 'btn-sm btn-primary' %>
  	  	<%= f.submit '公開する', name: 'blog_btn', class: 'btn-sm btn-success' %>
  	  </div>
      <% end %>

    </div>
  </div>
</div>
