<header class="container-fluid fixed-top">
  <div class="row">
    <div class="col col-2 col-header">
      <%= link_to homes_top_path do %>
  	    <%= image_tag 'logo.jpg', alt: 'GreenFingers', size: '200x100', style: 'border-radius: 30px; margin: 10px;' %>
      <% end %>
  	</div>

  	<div class="col col-7 col-header">
      <nav class="navbar navbar-expand-md w-100">
  	  	<ul class="navbar-nav navbar-right w-100 nav-justified">
  	  	  <% if user_signed_in? %>
            <li class="nav-item w-100 nav-justified">
              <%= link_to homes_about_path do %>
              <span class="nav-link" id="about_green_fingers">Greenfingersとは？</span>
              <% end %>
            </li>
            <li class="nav-item"><%= link_to 'TL', blogs_path(sort: 'TL'), class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to 'マイページ', user_path(current_user), class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to '皆の日記', blogs_path(sort: 'all_blogs'), class: 'nav-link' %></li>
  	  	    <li class="nav-item"><%= link_to '花の広場', topics_path(sort: 'all_topics'), class: 'nav-link' %></li>
  	  	    <li class="nav-item"><%= link_to '会員一覧', users_path(sort: 'all_users'), class: 'nav-link' %></li>
  	  	    <li class="nav-item"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link' %></li>
  	  	  <% else %>
            <li class="nav-item w-100 nav-justified">
              <%= link_to homes_about_path do %>
              <span class="nav-link">Greenfingers<br>とは？</span>
              <% end %>
            </li>
  	  	    <li class="nav-item"><%= link_to '花の広場', topics_path(sort: 'all_topics'), class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to '会員登録', new_user_registration_path, class: 'nav-link' %></li>
  	  	    <li class="nav-item"><%= link_to 'ログイン', new_user_session_path, class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to 'Twitterログイン', user_twitter_omniauth_authorize_path, class: 'nav-link'  %></li>
  	  	  <% end %>
  	  	</ul>
      </nav>
  	</div>

    <div class="col col-3 col-header">
      <% if user_signed_in? %>
      <div>
        <div class="login_message nav-link" style="font-size: 15px;">ようこそ <%= current_user.name %> さん！</div>
          <div class="navbar-nav navbar-middle">
          <%= render 'search/form' %>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</header>