<%= form_with(model: @comment_for, local: true) do |f| %>
  <h6>新規コメント</h6><br>
  <%= attachment_image_tag(current_user, :profile_img, :fill, 50, 50, fallback: 'no_img.jpg', size: '50x50') %>
  <%= current_user.name %>
  <%= f.attachment_field :image %>
  <%= f.text_area :comment, size: '90x5' %>
  <%= f.submit '送信！', class: 'btn-sm btn-info' %>
<% end %>