<div class="col col-2">
  <table>
  	<thead>
  		<tr>
  			<th>User Info</th>
  		</tr>
  	</thead>
  	<tbody>
      <tr><%= attachment_image_tag(@user, :profile_img, :fill, 100, 100, fallback: 'no_img.jpg', size: '100x100') %></tr>
  		<tr>
  			<td><strong>name</strong><br>
  			  <%= @user.name %></td>
  		</tr>
  		<tr>
  			<td><strong>introduction</strong><br>
  			  <%= @user.introduction %></td>
  		</tr>
        <tr id="relation-<%= @user.id %>" style="font-size: 0.8em;">
          <td>
            <%= link_to "#{@user.followings.count}フォロー", users_path(from: 'followings', user_id: @user.id) %>
            <%= link_to "#{@user.followers.count}フォロワー", users_path(from: 'followers', user_id: @user.id) %>
          </td>
        </tr>
  	</tbody>
  </table>
  <% if @user.id == current_user.id %>
  <div>
    <%= link_to '編集', edit_user_path(@user), class: 'btn btn-sm btn-primary btn-block' %>
    <%= link_to '下書き一覧', '#', class: 'btn-sm btn-success btn-block' %>
    <%= link_to 'ブログ一覧', blogs_path(id: @user.id, from: 'sidebar'), class: 'btn-sm btn-success btn-block' %>
    <%= link_to '新しい記事を書く', new_blog_path, class: 'btn-sm btn-info btn-block' %>
    <%= link_to '新しいトピを立てる', new_topic_path, class: 'btn-sm btn-info btn-block' %>
  </div>
  <% else %>
    <div id="follow_btn-<%= @user.id %>">
      <%= render 'relationships/follow_btn', user: @user %>
    </div>
      <%= link_to 'ブログ一覧', blogs_path(id: @user.id, from: 'sidebar'), class: 'btn-sm btn-success btn-block' %>
      <%= link_to 'トピック一覧', topics_path(id: @user.id, from: 'sidebar'), class: 'btn-sm btn-success btn-block' %>
  <% end %>
</div>