<div class="col col-2">
  <table>
  	<thead>
  		<tr>
  			<th>User Info</th>
  		</tr>
  	</thead>
  	<tbody>
      <tr><%= attachment_image_tag(@user, :profile_img, :fill, 100, 100, fallback: 'no_img.jpg', size: '100x100') %></tr>
  		<tr>
  			<td><strong>name</strong><br>
  			  <%= @user.name %></td>
  		</tr>
  		<tr>
  			<td><strong>introduction</strong><br>
  			  <%= @user.introduction %></td>
  		</tr>
      <% if @user.id == current_user.id %>
      <tr><td><%= link_to '編集', edit_user_path(@user), class: 'btn btn-sm btn-primary btn-block' %></td></tr>
      <% else %>
      <tr><td><%= render 'layouts/follow_btn', user: @user %></td></tr>
      <% end %>
  	</tbody>
  </table>
  <% if @user.id == current_user.id %>
  <div>
    <%= link_to '下書き一覧', drafts_path, class: 'btn-sm btn-success btn-block' %>
    <%= link_to 'ブログ一覧', blogs_path, class: 'btn-sm btn-success btn-block' %>
    <%= link_to '新しい記事を書く', new_draft_path, class: 'btn-sm btn-info btn-block' %>
    <%= link_to '新しいトピを立てる', new_topic_path, class: 'btn-sm btn-info btn-block' %>
  </div>
  <% end %>
</div>