<div class="col-lg-2">
  <% if user_signed_in? %>
  <div id="sidebar">
    <table>
      <tbody>
        <tr>
          <th style="font-size: 20px;">User Info</th>
        </tr>
        <tr>
          <% if @user.score >= 0.8 %>
          <%= link_to user_path(@user) do %>
          <%= attachment_image_tag(@user, :profile_img, fallback: 'no_img.jpg', size: '110x110', class: 'border-gold') %>
          <% end %>
          <% elsif @user.score >= 0.6 %>
          <%= link_to user_path(@user) do %>
          <%= attachment_image_tag(@user, :profile_img, fallback: 'no_img.jpg', size: '110x110', class: 'border-silver') %>
          <% end %>
          <% else %>
          <%= link_to user_path(@user) do %>
          <%= attachment_image_tag(@user, :profile_img, fallback: 'no_img.jpg', size: '100x100') %>
          <% end %>
          <% end %>
        </tr>
        <tr>
          <td>
            <strong style="font-size: 20px;">お名前</strong><br>
            <%= @user.name %><br>
          </td>
        </tr>
        <tr>
          <td><strong style="font-size: 20px;">ひとこと</strong><br>
            <%= @user.introduction %></td>
          </tr>
          <tr id="relation-<%= @user.id %>">
            <%= render 'relationships/follow_count', user: @user %>
          </tr>
      </tbody>
    </table>
    <% if @user.id == current_user.id %>
      <div>
        <%= link_to '会員情報編集', edit_user_path(@user), class: 'btn-green btn-block' %>
        <%= link_to '下書き一覧', blogs_path(id: current_user.id, sort: 'drafts'), class: 'btn-green btn-block' %>
        <%= link_to '日記一覧', blogs_path(id: current_user.id, sort: 'user_blogs'), class: 'btn-green btn-block' %>
        <%= link_to 'トピック一覧', topics_path(id: current_user.id, sort: 'user_topics'), class: 'btn-green btn-block' %>
        <%= link_to '新しい日記', new_blog_path, class: 'btn-green-new btn-block' %>
        <%= link_to '新しいトピ', new_topic_path, class: 'btn-green-new btn-block' %>
      </div>
    <% else %>
      <div>
        <div id="follow_btn-<%= @user.id %>">
          <%= render 'relationships/follow_btn', user: @user %>
        </div>
        <%= link_to 'この人の日記', blogs_path(id: @user.id, sort: 'user_blogs'), class: 'btn-green btn-block' %>
        <%= link_to 'この人のトピ', topics_path(id: @user.id, sort: 'user_topics'), class: 'btn-green btn-block' %>
      </div>
    <% end %>
  </div>
  <% end %>
</div>
